@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-link {
    position: relative;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
  }
  
  .underline-link::before {
    padding-top: 2px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #9EA8A2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underline-link:hover::before {
    transform: scaleX(1);
  }

  .left-gradient {
    background: linear-gradient(
      to right,
      rgba(26, 26, 26, 1),
      rgba(26, 26, 26, 0)
    );
  }
  /*needs to be (255, 255, 255, 1) and all that for white bg*/
  .right-gradient {
    background: linear-gradient(
      to left,
      rgba(26, 26, 26, 1),
      rgba(26, 26, 26, 0)
    );
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
  }